VITE_PRIVY_APP_ID=your_privy_app_id
VITE_PRIVY_CLIENT_ID=your_privy_client_id
VITE_PRIVY_CARDANO_SERVER_URL=http://localhost:8080
PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret
PRIVY_CARDANO_BLOCKFROST_PROJECT=blockfrost_project
